*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 10px;
    font-family: 'Poppins' , sans-serif;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    /* overflow: hidden; */
    scroll-behavior: smooth;
}
p{
    color: white;
    font-size: 1.6rem;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}
header{
    width: 100%;
    max-width: 1400px;
    padding:2.5rem;
    height: 8vh;
    transform: translateX(-50%);
    background-color: transparent;
    position: absolute;
    top:0;
    left: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header .logo{
    font-size: 1.6rem;
    color: white;
    font-weight: 700;

}
header .logo span{
    color: red;
    font-size: 2rem;
    margin-right: 0.5rem;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul li{
    margin-right: 1.5rem;
}
header nav ul li a{
    color: white;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}
header nav ul li a:hover{
    color: red;
}
.vid{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.vid-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.vid-container video {
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
}
.overlay-vid{
    position: absolute;
     top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: black;
    opacity: 0.8;
}
.vid-content{
    color: white;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.vid-content h1{
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 5rem;
    text-transform: uppercase;
}
.vid-content h4{
    font-size: 2rem;
    font-weight: 400;
}
.not{
    color: red;
}
.linei-t{
    position: relative;
    color: white;
}
.linei-t::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: red;
}
.grad{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6153370717938027) 50%, rgba(0,0,0,0) 100%);
}

.pricing{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 2.5rem;
    margin: 0 auto;
}
.pricing-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 1.5rem;
    align-items: center;
    margin-top: 4rem;
}

.section-title {
    width: 100%;
    padding: 2.5rem;
    margin: 0 0 4.5rem;
    text-align: center;
}
.section-title span{
    color: red;
    font-weight: 500;
    font-size: 1.1rem;
}
.section-title h2{
    font-size: 2.5rem;
    line-height: 10px;
    margin-top: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.price-item{
    border: 1px solid #c4c4c4 ;
    padding: 2.5rem;
    text-align: center;
    transition: 0.7s all ease-in-out;
}
.price-item:hover{
    background-color: white;
}
.price-item:hover.price-item h3{
    color: black;
}
.price-item:hover .pi-price span{
    color: black;
}
.price-item.second{
    margin-top: -4rem;
}
.price-item h3{
    font-size: 2rem;
    color: white;
    font-weight: 500;
    margin-bottom: 1rem;
}
.pi-price{
    margin-bottom: 2rem;
} 
.pi-price h2{
    font-size: 3rem;
    color: red;
}
.pi-price span{
    font-size: 1.2rem;
    display: inline-block;
    margin-top: -1rem;
    color: white;
}
.price-item ul{
    margin-bottom: 3rem;
}
.price-item ul li{
    margin-bottom: 0.5rem;
    color: #c4c4c4;
    font-size: 1rem;
}
.btn{
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: red;
    color: white;
    font-size: 1rem;
    font-weight: 500;


}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1400px;
    padding: 2.5rem 0 3.5rem;
    margin: 0 auto 3rem;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-imgs{
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 600px;
}
.img-1{
    flex: 1;
    margin-right: 0.3rem;
    height: 100%;
}
.img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-3{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    
}
.img-small{
    flex: 1;
}
.img-small img{
    width:100% ;
    height: 100%;
    object-fit: cover;
}
.about-info{
    flex: 1;
    padding: 2.5rem;
    text-align: center;
}
.about-info h3{
    color: red;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;

}
.about-info span{
    color: white;
}
.about-info p{
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #c4c4c4;
    margin-bottom: 2.5rem;
}

/* PARALLAX */
.parallax {
  background-image: url("/images-vid/matthew-payne-4tHbsNGFp18-unsplash.jpg");
  min-height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.parallax h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
}
.grad.up{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6153370717938027) 50%, rgba(0,0,0,1) 100%);

}